#{$all-buttons},
.button {
  appearance: none;
  background-color: $primary-color;
  border: 0;
  border-radius: $base-border-radius;
  color: $white-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight-bold;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  @include transition(background-color $base-duration $base-timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($primary-color, 20%);
    color: $white-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $primary-color;
    }
  }

  &.button-ghost {
    background-color: transparent;
    border: 1px solid #fff;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($white-color, .1);
    }
  }
}

.code-button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	text-decoration: none;
}

.code-button.active, .code-button.focus, .code-button:active, .code-button:focus, .code-button:hover, .open > .dropdown-toggle.code-button {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}
